{%extends 'navbar.html'%}

{%block contain%}


<div class="main-page-wrapper">
		
		
    <!-- MAIN CONTENT AREA -->
            <div class="container">
        <div class="row content-layout-wrapper align-items-start">
            
<div class="site-content col-lg-9 col-12 col-md-9" role="main">

                            <article id="post-279" class="post-279 page type-page status-publish hentry">

                <div class="entry-content">
                            <div data-elementor-type="wp-page" data-elementor-id="279" class="elementor elementor-279">
                                <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-21886a85 wd-section-stretch-content elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="21886a85" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6858e5fd" data-id="6858e5fd" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-65445ad elementor-widget elementor-widget-google_maps" data-id="65445ad" data-element_type="widget" data-widget_type="google_maps.default">
            <div class="elementor-widget-container">
        <style>/*! elementor - v3.8.0 - 30-10-2022 */
.elementor-widget-google_maps .elementor-widget-container{overflow:hidden}.elementor-widget-google_maps iframe{height:300px; width:1000px;}</style>		<div class="elementor-custom-embed">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=uae%20duvai&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="uae duvai" aria-label="uae duvai"></iframe>
    </div>
            </div>
            </div>
                </div>
    </div>
                        </div>
    </section>

    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-5023bf8 elementor-widget__width-auto elementor-widget elementor-widget-wd_title" data-id="5023bf8" data-element_type="widget" data-widget_type="wd_title.default">
    <div class="elementor-widget-container">
        <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-default wd-title-size-default text-left">


<div class="liner-continer">
    <h4 class="woodmart-title-container title wd-fontsize-l">BD Office</h4> 
                </div>

                <div class="title-after_title set-cont-mb-s reset-last-child wd-fontsize-xs">
        <p><u><strong>Saravex BD Group Dhaka Headquarters</strong></u></p>				</div>
        </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-6e09927 elementor-widget elementor-widget-wd_list" data-id="6e09927" data-element_type="widget" data-widget_type="wd_list.default">
    <div class="elementor-widget-container">
        <ul class="wd-list color-scheme- wd-fontsize-s wd-list-type-icon wd-list-style-default wd-justify-left">
                                <li class="elementor-repeater-item-39182af">
                                <img decoding="async" loading="lazy" src="https://Saravex.com/wp-content/uploads/2022/05/wd-phone-megamarket.svg" title="wd-phone-megamarket" width="30" height="30">					
        <span class="list-content">
            (925) 907-9798					</span>

        
            <a href="tel:(406)%20555-0120" class="wd-fill" aria-label="List item link"></a>
                        </li>
                                <li class="elementor-repeater-item-c215d98">
                                <img decoding="async" loading="lazy" src="https://Saravex.com/wp-content/uploads/2022/05/wd-envelope-megamarket.svg" title="wd-envelope-megamarket" width="30" height="30">					
        <span class="list-content">
            support@Saravex.com					</span>

        
            <a href="mailto:support@Saravex.com" class="wd-fill" aria-label="List item link"></a>
                        </li>
        </ul>

    </div>
    </div>
    <div class="elementor-element elementor-element-972b075 elementor-widget elementor-widget-wd_title" data-id="972b075" data-element_type="widget" data-widget_type="wd_title.default">
    <div class="elementor-widget-container">
        <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-default wd-title-size-default text-left">


<div class="liner-continer">
    <h4 class="woodmart-title-container title wd-fontsize-l">Store Hours:</h4> 
                </div>

                <div class="title-after_title set-cont-mb-s reset-last-child wd-fontsize-xs">
        <p>Mon. – Sun:<br><span style="color: #1246ab"><strong>9:00am - </strong></span><span style="color: #1246ab"><strong>9:00pm</strong></span></p>				</div>
        </div>
    </div>
    </div>
        </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-9b846ce elementor-widget__width-auto elementor-widget elementor-widget-wd_title" data-id="9b846ce" data-element_type="widget" data-widget_type="wd_title.default">
    <div class="elementor-widget-container">
        <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-default wd-title-size-default text-left">


<div class="liner-continer">
    <h4 class="woodmart-title-container title wd-fontsize-l">UAE Duvai Office:</h4> 
                </div>

                <div class="title-after_title set-cont-mb-s reset-last-child wd-fontsize-xs">
        <p><u><strong>Saravex Group International Headquarters</strong></u></p>				</div>
        </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-59e3181 elementor-widget elementor-widget-wd_list" data-id="59e3181" data-element_type="widget" data-widget_type="wd_list.default">
    <div class="elementor-widget-container">
        <ul class="wd-list color-scheme- wd-fontsize-s wd-list-type-icon wd-list-style-default wd-justify-left">
                                <li class="elementor-repeater-item-39182af">
                                <img decoding="async" loading="lazy" src="https://Saravex.com/wp-content/uploads/2022/05/wd-phone-megamarket.svg" title="wd-phone-megamarket" width="30" height="30">					
        <span class="list-content">
            (925) 649-8365					</span>

        
            <a href="tel:(406)%20555-0120" class="wd-fill" aria-label="List item link"></a>
                        </li>
                                <li class="elementor-repeater-item-c215d98">
                                <img decoding="async" loading="lazy" src="https://Saravex.com/wp-content/uploads/2022/05/wd-envelope-megamarket.svg" title="wd-envelope-megamarket" width="30" height="30">					
        <span class="list-content">
            contact@Saravex.com					</span>

        
            <a href="mailto:contact@Saravex.com" class="wd-fill" aria-label="List item link"></a>
                        </li>
        </ul>

    </div>
    </div>
    <div class="elementor-element elementor-element-b763586 elementor-widget elementor-widget-wd_title" data-id="b763586" data-element_type="widget" data-widget_type="wd_title.default">
    <div class="elementor-widget-container">
        <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-default wd-title-size-default text-left">


<div class="liner-continer">
    <h4 class="woodmart-title-container title wd-fontsize-l">Store Hours:</h4> 
                </div>

                <div class="title-after_title set-cont-mb-s reset-last-child wd-fontsize-xs">
        <p>Mon. – Sun:<br><span style="color: #1246ab"><strong>9:00am - </strong></span><span style="color: #1246ab"><strong>9:00pm</strong></span></p>				</div>
        </div>
    </div>
    </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    <center>
        <br>
            <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-25bdd5e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="25bdd5e4" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11a0610a" data-id="11a0610a" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-330a4701 elementor-widget elementor-widget-wd_title" data-id="330a4701" data-element_type="widget" data-widget_type="wd_title.default">
            <div class="elementor-widget-container">
                <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-bordered wd-title-size-default text-left">

        <div class="liner-continer">
            <h4 class="woodmart-title-container title wd-fontsize-l">SEND US AN EMAIL</h4> 
                        </div>

                </div>
            </div>
            </div>
            <div class="elementor-element elementor-element-7ba07555 elementor-widget elementor-widget-wd_contact_form_7" data-id="7ba07555" data-element_type="widget" data-widget_type="wd_contact_form_7.default">
            <div class="elementor-widget-container">
        <div role="form" class="wpcf7" id="wpcf7-f6-p279-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="6">
<input type="hidden" name="_wpcf7_version" value="5.6.4">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f6-p279-o1">
<input type="hidden" name="_wpcf7_container_post" value="279">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="row">
<p class="col-md-6"><label>Your Name</label><span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></p>
<p class="col-md-6"><label>Your Email</label><span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></p>
</div>
<div class="row">
<p class="col-md-6"><label>Phone Number</label><span class="wpcf7-form-control-wrap" data-name="tel-767"><input type="tel" name="tel-767" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false"></span></p>
<p class="col-md-6"><label>Company</label><span class="wpcf7-form-control-wrap" data-name="text-1"><input type="text" name="text-1" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></p>
</div>
<p><label>Your Message</label><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span></p>
<p>
    <span class="wpcf7-spinner"></span></p>
    <div class="wpcf7-response-output" aria-hidden="true"></div></form></div>		</div>
    <a href="/"><input type="submit" value="ASK A QUESTION" class="wpcf7-form-control has-spinner wpcf7-submit btn-color-black">
    </a>
    <br><br><br>        
    </div>
                </div>
    </div>
                        </div>
    </section>
</center>
                        </div>
                                                </div>

                
            </article><!-- #post -->

            
    
</div><!-- .site-content -->



<!-- .sidebar-container -->

        </div><!-- .main-page-wrapper --> 
        </div> <!-- end row -->
</div>


{%endblock%}