
  <!-- Footer Starts -->
  <div class="container-fluid px-0" style="background-color: #232f3e;">
    <a href="#pageTop" class="btn  btn-block mb-5" style="background-color: #37475a; color: whitesmoke;">Back to Top</a>
    
    <div class="container" >
      <div class="row text-white mb-5" >

        <div class="col-md-3">
          <h5>Get to know us</h5>
          <ul id="menu-policies" class="menu"><li id="menu-item-11070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11070"><a href="#">Terms and Conditions</a></li>
            <li id="menu-item-11067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-11067"><a href="#">Privacy Policy</a></li>
            <li id="menu-item-11068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11068"><a href="#">Return Policy</a></li>
            <li id="menu-item-11069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11069"><a href="#">Service and Warranty</a></li>
            </ul>
        </div>

        <div class="col-md-3">
          <h5>Top Category</h5>
          <div class="menu-top-categories-container" style="color:wheat;"><ul id="menu-top-categories" class="menu"><li id="menu-item-11055" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11055"><a href="#">Grocery</a></li>
            <li id="menu-item-11059" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11059"><a href="#">Men’s Fashion</a></li>
            <li id="menu-item-11060" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11060"><a href="#">Women’s Fashion</a></li>
            <li id="menu-item-11058" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11058"><a href="#">Kids Fashion</a></li>
            <li id="menu-item-11056" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11056"><a href="#">Health &amp; Beauty</a></li>
            <li id="menu-item-11057" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11057"><a href="#">Home &amp; Lifestyle</a></li>
            </ul></div>
        </div>

        <div class="col-md-3">
          <h5>Know US</h5>
          <ul id="menu-know-us" class="menu"><li id="menu-item-11061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11061"><a href="#">About Us</a></li>
            <li id="menu-item-11062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11062"><a href="#">Contact Us</a></li>
            <li id="menu-item-11063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11063"><a href="#">Feedback</a></li>
            <li id="menu-item-11064" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11064"><a href="#">FAQs</a></li>
            <li id="menu-item-11065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11065"><a href="#">News &amp; Events</a></li>
            <li id="menu-item-11066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11066"><a href="#">Order Tracking</a></li>
            </ul>
        </div>

        <div class="col-md-3">
          <img src="https://saravexhypermarket.com/wp-content/uploads/2022/09/LogoMakr-5fymGM.png" height="50" width="150" alt="saravex logo white footer">
        </div>

      </div>
    </div>

    <div class="dropdown-divider mt-3"></div>

    <!-- <div class="row mt-3 mx-0 px-0">
      <div class="col-md-12 text-center">
         <img src="https://saravexhypermarket.com/wp-content/uploads/2022/09/LogoMakr-5fymGM.png" height="30" width="100" alt="saravex logo white footer"> 
        <br>.
      </div>
    </div> -->
    
    <!-- Sub footer starts -->
    <!-- Sub footer ends -->
    
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- Drawer JS File -->
  <script src="js/bootstrap-drawer.min.js"></script>
  <!-- Custom JavaScript -->
  <script src="js/custom.js"></script>
</body>

</html>