
{%extends 'navbar.html'%}

{%block contain%}

<div class="website-wrapper">
									
			
	<div class="main-page-wrapper">

<div class="page-title  page-title-default title-size-default title-design-centered color-scheme-light">
<div class="container">
														<h1 class="entry-title title">
		Privacy Policy								</h1>

								
								<div class="breadcrumbs"><a href="/" rel="v:url" property="v:title">Home</a> » <span class="current">Privacy Policy</span></div><!-- .breadcrumbs -->																		</div>
</div>

<!-- MAIN CONTENT AREA -->
<div class="container">
<div class="row content-layout-wrapper align-items-start">

<div class="site-content col-lg-9 col-12 col-md-9" role="main">

	<article id="post-1718" class="post-1718 page type-page status-publish hentry">

<div class="entry-content">
<h2><strong>Privacy Policy</strong></h2>
<p>At Saravex, we respect your privacy. We inform our users on how we collect, use, share, and protect your personal data. Every time you interact with Saravex through either our physical stores or e-commerce websites and engage our services, you agree to the use of information that is collected or submitted as stated in this Privacy Policy. Looking after your personal information is important to us, which is why we would like you to be confident that your data is kept safe and secured with us.</p>
<p>This Privacy Policy applies to all personal information collected by Saravex. Saravex can be referred here to as “Saravex”, “we”, “our” or “us” in this privacy statement as applicable. At Saravex, we are working hard to serve our customers better as we are keeping the personal data shared to us. We keep it as confidential and private as possible, which has become one of our top priorities.</p>
<p>This privacy statement will further explain how and why we collect your personal information for the purpose of both managing your accounts with us and processing transactions made between you and Saravex.</p>
<p><strong>HOW WE COLLECT DATA INFORMATION</strong></p>
<p>This section tells you what kind of personal data we may collect from you when you use our services and the personally identifiable information we may receive from other sources. Through these information, we are able to provide our services to you, where the information you give are all necessary for off-line and online transactions, operational functions and marketing activities.</p>
<p>We collect information&nbsp;related to your use of our website using cookies, web beacons, and log information.&nbsp;We use all these information to improve the functionality of the website every time we do an overall review of our users’ activities, which will make your access more secure and efficient.</p>
<ul>
<li>Cookies are small files containing strings of text stored on your computer that we use to authenticate you in transactions &nbsp;made on our websites and deliver content specific to your interests and preferences.</li>
<li>Web beacons are used often together with cookies. We use web beacons to monitor the user’s activity on our website, specifically on how long users visit our web pages, so we would be able to generate reviews and &nbsp;results on website traffic, unique visitor counts, and other impression functions.</li>
<li>Log information may include website requests,operating system,browser details,date and time of your request,and cookies that may identify your browser.</li>
<li>We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic information for operational use. IP addresses are not linked to personally identifiable &nbsp;information.</li>
</ul>
<p>Acquiring your personal data may occur in the following circumstances whenever you engage with Saravex:</p>
<ul>
<li>When you register for our services on both the physical store and online store</li>
<li>When you shop with us online, browse our websites, or use our mobile applications</li>
<li>&nbsp;When you use our online or printed vouchers or coupons</li>
<li>&nbsp;When you contact us or we contact you or you join our promotions, competitions, surveys, and products reviews about our services</li>
</ul>
<p>While you are transacting on our website, personally identifiable information collected about you may include:</p>
<ul>
<li>&nbsp;First and last name, email address, contact details including phone numbers, and PIN/ZIP code</li>
<li>&nbsp;Demographic profile (like your age, gender, occupation, education, address and durables owned)</li>
<li>&nbsp;Personal preferences and interests</li>
<li>&nbsp;Your opinion on services, products, and features on our website</li>
</ul>
<p>We may also collect the following information about:</p>
<ul>
<li>&nbsp;The pages you visit/access</li>
<li>&nbsp;The links you click on our website</li>
<li>&nbsp;The number of times you access the page</li>
<li>&nbsp;Things you view, add to bag, add to wish list</li>
<li>&nbsp;&nbsp;Other websites you open simultaneously while browsing ours</li>
</ul>
<p><strong>HOW WE USE DATA INFORMATION</strong><strong>&nbsp;</strong></p>
<p>Using personal data may happen in the following circumstances regarding product and service fulfillment and transactions between the user and Saravex.</p>
<p>Operational procedures and transactions:</p>
<ul>
<li>Fulfilling and managing purchases and enabling sales, processing and settling payments, handling orders, and providing receipts in both physical store and online shop</li>
<li>Providing customer service, processing and assistance with dispute resolution, payment processing including returns, refunds, and other transaction-related issues</li>
<li>Managing subscription services, including order management, billing, improving reorder experiences, communicating with the user about subscription, and offer other products and services</li>
<li>Fulfilling other technical, logistical, financial, tax, legal, compliance, administrative, and/or back office functions</li>
<li>Conducting a transaction where we collect information required by law</li>
<li>Preventing fraudulent transactions, monitor against theft and otherwise protect our guests and our business</li>
</ul>
<p>Online marketing and social media</p>
<ul>
<li>Sending promotional campaigns, surveys, new product and website features, and service or policy update notices through official marketing channels, such as SMS, whatsapp, email, and social media; wherein both auto-generated and customised messages are sent with personalised content based on the user’s personal characteristics or preferences (if you opt in to receiving such information)</li>
<li>Delivering coupons, mobile coupons, newsletters, in-store receipt messages, e-mails, mobile messages, and social media notifications, and administering raffle draws and contests in both physical store and e-commerce</li>
<li>Responding to requests for information about our products and services in our stores and on our websites or mobile application and connecting with the user through phone call, email, online shop, or social media for communications regarding transactions and inquiries</li>
</ul>
<p><strong>DISCLOSURE TO THIRD PARTIES</strong></p>
<p>We disclose personal data to other organisations/companies that perform services for the requirements of our transactions—courier companies for delivery of the products and other service providers that may require personal data for efficient implementation of processes related only to this website. We do not sell, share, or rent any such personal information, unless required by special circumstances such as compliance with subpoenas, court orders, requests from legal authorities or law enforcement agencies requiring such disclosure. This website takes every precaution to protect users’ information. When users submit sensitive information via the website, your information is protected both online and off-line.</p>
<p><strong>SOCIAL MEDIA&nbsp;</strong></p>
<p>We operate channels, pages and accounts on some social media sites to inform, assist and engage with customers. We monitor &nbsp;and record comments and posts made on these channels about us so that we can improve our services.</p>
<p>Saravex is not responsible for any information posted on those sites other than information we have posted &nbsp;ourselves. We do not endorse the social media sites themselves or any information posted on them by third parties.</p>
<p>The following companies, Facebook, Twitter, Instagram, Youtube, Google and Linkedin, may use data for their own purposes, &nbsp; &nbsp;specifically to market to you through their social media platforms and allow engagement on our websites. This includes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;profiling and targeting you with other advertising.</p>
<p><strong>YOUR RIGHTS AND ACCESS TO INFORMATION</strong></p>
<p>All information that we have collected is available in our database of contacts. For users who registered on Saravex, the e-commerce platform for a big variety of products, all information are available online in your account and you may access to such information at any time by logging in to your account through our website.</p>
<p>&nbsp;</p>
<p>In relation to your personal data, you have the followings rights, as mentioned below:</p>
<ul>
<li>Request correction or updation&nbsp;of the personal data that we have with us about you. This enables us to correct or &nbsp; update any incomplete or inaccurate data we have about you. However, we may need to verify the accuracy of the &nbsp; &nbsp; corrected or updated data &nbsp;provided to us by you, to &nbsp;secure the data and comply with our data accuracy policies</li>
<li>Request to delete the&nbsp;personal data. You may request to delete or remove personal data where there are no reasons for &nbsp; us processing that data. However, in special cases we may not be able to comply with your request of erasure for &nbsp; &nbsp; specific legal reasons which will be notified to you, if applicable, at the time of your request.</li>
<li>Objection regarding processing&nbsp;your personal data, where we are relying on a legitimate interest and there is something about your particular situation that makes you want to object processing on this ground if you feel it impacts on your fundamental rights and freedom.</li>
<li>Request restriction&nbsp;of processing your personal data. In such circumstances that you have successfully made a request for restriction of your personal data, we will suspend the processing of your personal data—where you wish to cancel all services and close your accounts; or where you are challenging the accuracy of the personal data we hold, and where you may want to exercise or defend legal claims when we would normally delete or anonymise the data.</li>
</ul>
<p><strong>OTHER DATA PROTECTION RIGHTS</strong></p>
<p>In relation to your personal data, you also have the right to objection in relation to direct marketing. You may also make an objection to use your personal data for direct marketing purposes. We will stop to send you such communications.</p>
<p>&nbsp;</p>
<p>There are several situations when you can restrict our use of your personal data, if you have made a general objection based on the provisions abovementioned, if you are reassuring the accuracy of the personal data we have in our database, and we have used your personal data improperly, but you do not want deletion. You can also file a complaint to data protection regulation body, as you also have the right to complain about how we have used your personal data.</p>
<p>&nbsp;</p>
<p><strong>OPT-OUT POLICY&nbsp;</strong></p>
<p>&nbsp;</p>
<p>Where you have opted-in to receive such communications, we may send you information about our products and services. To opt out of marketing or promotional emails, please click the unsubscribe link in the footer of the email communication to be removed from future communications. To stop receiving SMS, please reply with the four-digit opt out number stated in the SMS.</p>
<p>&nbsp;</p>
<p><strong>RATINGS AND REVIEWS&nbsp;</strong></p>
<p>You agree that you are the sole author of ratings and reviews you submit to this website. &nbsp;You are responsible and you own the intellectual property rights that relate to the content you submitted. You agree that you would not submit anything that is false, inaccurate, or misleading, whereas if you have been paid for such compensation that it influenced the content of your review; if content have been copied from anyone else, or infringes on any third party’s copyright, patent or trademark; if content you submitted violates any law or is considered to be offensive; if information provided includes references to other websites; or contains any computer viruses, worms or other potentially damaging computer files. Saravex reserves the right to remove or to refuse to post any submission for any reason.</p>
<p><strong>ANTI FRAUD STATEMENT</strong></p>
<p>Saravex has been notified of fraudulent activities circulating in different locations, through phone calls, messages, emails, and such communications on prize, promotion, recruitment, investment, and money transfer. If you encounter such information, please contact us. We urge you to beware of phone calls and messages with claims of winning prizes from Saravex and asking for your bank details. We do not ask for such information from our customers. Our promotion winners are listed in our stores, official websites &amp; social media channels, while our recruitment process is done through either our official human resource teams or affiliated&nbsp;professional recruiting agencies.&nbsp;We urge you to immediately report such suspicious communication to relevant authorities and government bodies. Saravex reserves the right to take legal action, including criminal action, against such individuals and entities.</p>
<p>If you receive any unauthorised, suspicious or fraudulent offers or interview call, please write an email us at&nbsp;customerservice@Saravex.com.</p>
<p><strong>CONTACTING US AND COMPLAINTS</strong><strong>&nbsp;</strong></p>
<p>If you require further information regarding our Privacy Policy, or if you have a complaint about our handling of your personal information, please email us at the following address:&nbsp;customerservice@Saravex.com.&nbsp;If you have a complaint about our handling of personal information, we will be in contact, promptly and work with you to resolve the issue.<strong>&nbsp;</strong></p>
<p><strong>LIMITATION OF LIABILITY</strong></p>
<p>Under no circumstance, including, but not limited to, negligence, shall Saravex be liable for any indirect, special, exemplary, or consequential damages that result from the use of, or the inability to use, including but not limited to the information, materials on the page, page content, page code, user services or the software. While Saravex shall take reasonable precautions against security breaches, no webpage or internet transmission is completely secure, and as such, Saravex shall not be liable for any indirect, special, exemplary or consequential damages that may result from unauthorized access, hacking, data loss or other breached that may occur.</p>
<p><strong>INDEMNITY</strong></p>
<p>By accessing the page of Saravex, the users, persons and third parties agree and undertake to act responsibly and cause no harm, loss or damage to Saravex. In the event that Saravex incurs any loss, harm or damage then Saravex shall be in right to take appropriate steps to identify the person(s) involved and seek indemnity and compensation for all loss, claim, demand, damage, costs, charges (including legal fees and charges) or prejudice that may be caused to Saravex on account of misuse of the page and the consequent affect upon Saravex.</p>
<p><strong>JURISDICTION</strong></p>
<p>The Privacy Policy will be governed by and construed in accordance with UAE law. Any disputes arising in relation to these Privacy Policy will be subject to the exclusive jurisdiction of the Courts of Abu Dhabi, U.A.E.</p>
<p>&nbsp;</p>
<p>Last updated: May 4, 2019</p>
<p>&nbsp;</p>
				</div>


</article><!-- #post -->



</div><!-- .site-content -->



<!-- .sidebar-container -->

</div><!-- .main-page-wrapper --> 
</div> <!-- end row -->
</div> <!-- end container -->




</div>
{%endblock%}