{%extends 'navbar.html'%}

{%block contain%}



<div class="website-wrapper">
									
			
	<div class="main-page-wrapper">

<div class="page-title  page-title-default title-size-default title-design-centered color-scheme-light" >
<div class="container">
														<h1 class="entry-title title">
		Return Policy								</h1>

								
								<div class="breadcrumbs"><a href="/" rel="v:url" property="v:title">Home</a> » <span class="current">Return Policy</span></div><!-- .breadcrumbs -->																		</div>
</div>

<!-- MAIN CONTENT AREA -->
<div class="container">
<div class="row content-layout-wrapper align-items-start">

<div class="site-content col-lg-9 col-12 col-md-9" role="main">

	<article id="post-1721" class="post-1721 page type-page status-publish hentry">

<div class="entry-content">
<h3>Returns And Refunds Policy</h3>
<p>When you buy from saravexhypermarke.com we want you to be happy with your purchase. So if you need to return a product, get it exchanged or refunded, we want to make it as easy as possible.</p>
<p><strong>Bought from saravexhypermarke.com ?&nbsp;</strong>Here is everything you need to know :</p>
<h4>Our refund policy</h4>
<p>If any of our products fall below the high standard you expect, we will happily refund or exchange it according to the terms and conditions set out below.</p>
<p>– saravexhypermarke.com is unable to procure products: a reasonable time of 7-10 days from the date of authorization has to be given.</p>
<p>– Products faulty on arrival and non repairable.</p>
<p>– Products are lost in deliveries.</p>
<p>– Refunds for products purchased under a promotional offer will be based on the terms of the promotional price. Bundle offers or “Buy 1 Get 1 free” offers: In this case you will have to return all the items in this offer.</p>
<p>– Refund settlement will take place once the returned product has been received back and a quality check has taken place, this procedure normally takes 4-5 days, then 2 business days to issue the refund. Please be aware that sometimes the refund will not show on your account until the next statement cycle is issued from your bank.</p>
<p>– We will refund the delivery charge in full if the product received is faulty / damaged and you return all products of your order at the same time. If you choose to keep some of the products, we will retain the balance of the delivery charge that applies to the products you keep.</p>
<p>– Please keep all items with their complete packaging and inside packaging intact if you intend to refund any items within the conditions set out. No exchange or refund will be considered without it.</p>
<p>– 7 Days money back Guarantee if you change your mind, provided that the merchandise is as new, in a re-sellable condition and the consumables ( cartridges, blank tapes, CD’s or DVD’s) and accessories ( cables, chargers, batteries…) are still sealed, refund can be granted upon saravexhypermarke.com approval within 7 days after delivery. (Exceptions apply see Electrical returns) However the normal delivery or supplier delivery charge as well as card transaction charges will be charged back as well as any additional charges incurred by courier collection.</p>
<h4>Our refund policy</h4>
<p>All orders will be refunded if the product is received “Faulty / damaged” or within a 7 day period if the product is found to be Faulty (Exceptions apply see electrical returns) in such cases the product must be returned with all correct manuals, packaging intact and all correct cables that came with the product, if any of these are found to be incorrect then the refund will not be processed. (Contact customer services for courier uplift date)</p>
<p>&nbsp;</p>
<p>After the 7 day window for refund of faulty products any product that becomes faulty after this period will be subject to the manufactures warranty, saravexhypermarke.com customer support can assist in directing you to a Saravex location so that after sales service with the supplier can be arranged. ( where applicable)</p>
<p>&nbsp;</p>
<p>Any product past the initial period of refund as set out above and after the manufacturer warranty period will not be eligible for either refund or exchange.</p>
<p>&nbsp;</p>
<p><strong>Courier delivered products</strong></p>
<p>If the product was delivered to your home or office by a courier, we can arrange a courier collection for its return. Call customer services at 01765375500 to arrange this. Please make sure courier collected products are well packaged for their return journey all outer packaging must be in the condition it was received in.</p>
<p>&nbsp;</p>
<p><strong>Supplier delivered and large products</strong></p>
<p>Larger products or products delivered directly by one of our suppliers. To return these products call our customer services 01765375500. We’ll arrange for the supplier to contact you to agree a suitable collection date.</p>
<p>&nbsp;</p>
<p>Saravexs will not be replacing or refunding any product purchased through the Saravexhypermarke.com site, all refunds/exchange will be managed and accepted by the saravexhypermarke.com customer services team 01765375500</p>
<h4>How to exchange or replace a product</h4>
<p>In case of an incident where a replacement product may be required again please contact the customer services team who will arrange this in line with the Terms &amp; Conditions for replacement and/or faulty products.</p>
<h4>Electrical returns</h4>
<p><strong>Return policies in Electronics &amp; Electrical goods.&nbsp;</strong></p>
<ul>
<li>Purchased items can be returned/refunded only if the product returned with all the original packaging materials, accessories, manuals, (with free goods, if any) supplied at the time of your order.</li>
</ul>
<ul>
<li>Return/Refund does not apply to Laptops, Printers, Mobile Phones, Digital Cameras, SLRs, Action Cameras, Personal Care, Hygienic products, Magazines and Books if the product is not in sealed condition.</li>
<li>Digital Cards which are sent to the customers in activation codes cannot be returned or refunded.</li>
</ul>
<ul>
<li>Any electronics/electrical products shall be returned/refunded, if found defective and reported within 7 days, only after authorized service center’s technical verification for the reported defect as “manufacturing defect” (the verification process can take up to 4 business days) Exchange or Refund will be done only after the technical report.</li>
</ul>
<ul>
<li>Returns/refunds&nbsp;on supplier delivered large products such as Washing Machines, Refrigerators, Cooking Ranges, Dish Washers, Cooking Hobs &amp; Hoods, TVs, Sports &amp; Fitness equipment etc. cannot be accepted if the packs are opened. Please make sure with the delivery team before unpacking.</li>
</ul>
<ul>
<li>Returns/refunds&nbsp;on Supplier delivered products, Major Appliances, TV’s, etc. products will be exchanged or refunded based on manufacturer’s authorized service center’s&nbsp;technical verification&nbsp;report and approval.</li>
</ul>
<ul>
<li>Service, delivery and installation charges are non-refundable once performed.</li>
</ul>
<h4>Grocery Return</h4>
<table>
<tbody>
<tr>
<td><strong>Product</strong></td>
<td><strong>Period of Return</strong></td>
</tr>
<tr>
<td>Perishable goods (e.g. meat, vegetables, fresh food)</td>
<td>Within 24 hours.</td>
</tr>
<tr>
<td>Non-perishable goods (e.g. toiletries, cleaning products)</td>
<td>Up to 7 days</td>
</tr>
</tbody>
</table>
<h4>Courier returns</h4>
<p>Call customer services on 01765375500&nbsp;to arrange a courier collection. If you paid by card, we will refund you on the same once the quality check has been carried out.</p>
<h4>Charges and getting your refund</h4>
<p>Returns are free of charge for dead received items. Charges will apply for items where you the customer change your mind after the product has been shipped.</p>
<h4>Delivery charges</h4>
<p>If you have told us you’re going to return all of your order within seven working days of receiving it due to faulty products we will refund your delivery charge in full. If you’re only returning some of the products, or all of the products but after the seven working day period, your delivery charge will not be refunded and further charges for uplift may apply.</p>
<h4>Getting your refund</h4>
<p>If a courier collects your returned product, your refund will be on the card you used to pay and will be as per the next billing cycle once we’ve received your returned product on Saravex approval. You must also return any free or discounted products bought together as part of a promotional offer. If the product does not fully comply with our policy, we reserve the right to charge a restocking fee.</p>
<h4>Your Consumer rights</h4>
<p>Nothing in our returns policy affects your consumer rights.</p>
<p>&nbsp;</p>
				</div>


</article><!-- #post -->



</div><!-- .site-content -->



<!-- .sidebar-container -->

</div><!-- .main-page-wrapper --> 
</div> <!-- end row -->
</div> <!-- end container -->




</div>



{%endblock%}