{%extends 'navbar.html'%}
 

{%block contain %}


  <!-- Shopping Cart Starts -->
  <div class="container my-5">

    <!-- Cart title start -->
    <div class="row">
      <div class="col-md-8">
        <h3>Shopping Cart</h3>
        <p class="text-muted float-right mt-n3" style="font-size: 13px;">Price</p>
      </div>
    </div> <!-- Cart title ends -->

    <!-- Product list start -->
    <div class="row">

      <!-- Product Detail start -->
      <div class="col-md-8">
        <!-- Product row starts -->
        <div class="row border-top py-3">
          <!-- Product image -->
          <div class="col-md-3">
            <img src="img/product_images/product02.png" class="img-fluid" alt="product 01 image">
          </div>

          <!-- Product details -->
          <div class="col-md-9">
            <a href="#">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right">
              <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0">Sold by : Narendra Modi</p>
            <p class="text-muted my-0">Paperback</p>

            <div class="d-flex flex-row mt-2">
              <!-- Quatinty select -->
              <div class="input-group" style="width: 90px;">
                <div class="input-group-prepend">
                  <button class="btn btn-info btn-sm">-</button>
                </div>
                <input type="text" class="form-control form-control-sm" name="quantity" value="1" id="quantity"
                  disabled>
                <div class="input-group-append">
                  <button class="btn btn-info btn-sm">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="#" class="ml-2">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Product row starts -->
        <div class="row border-top py-3">
          <!-- Product image -->
          <div class="col-md-3">
            <img src="img/product_images/product03.png" class="img-fluid" alt="product 01 image">
          </div>

          <!-- Product details -->
          <div class="col-md-9">
            <a href="#">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right">
              <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0">Sold by : Narendra Modi</p>
            <p class="text-muted my-0">Paperback</p>

            <div class="d-flex flex-row mt-2">
              <!-- Quatinty select -->
              <div class="input-group" style="width: 90px;">
                <div class="input-group-prepend">
                  <button class="btn btn-info btn-sm">-</button>
                </div>
                <input type="text" class="form-control form-control-sm" name="quantity" value="1" id="quantity"
                  disabled>
                <div class="input-group-append">
                  <button class="btn btn-info btn-sm">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="#" class="ml-2">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->


        <!-- Product row starts -->
        <div class="row border-top py-3">
          <!-- Product image -->
          <div class="col-md-3">
            <img src="img/product_images/product03.png" class="img-fluid" alt="product 01 image">
          </div>

          <!-- Product details -->
          <div class="col-md-9">
            <a href="#">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right">
              <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0">Sold by : Narendra Modi</p>
            <p class="text-muted my-0">Paperback</p>

            <div class="d-flex flex-row mt-2">
              <!-- Quatinty select -->
              <div class="input-group" style="width: 90px;">
                <div class="input-group-prepend">
                  <button class="btn btn-info btn-sm">-</button>
                </div>
                <input type="text" class="form-control form-control-sm" name="quantity" value="1" id="quantity"
                  disabled>
                <div class="input-group-append">
                  <button class="btn btn-info btn-sm">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="#" class="ml-2">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Product row starts -->
        <div class="row border-top py-3">
          <!-- Product image -->
          <div class="col-md-3">
            <img src="img/product_images/product03.png" class="img-fluid" alt="product 01 image">
          </div>

          <!-- Product details -->
          <div class="col-md-9">
            <a href="#">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right">
              <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0">Sold by : Narendra Modi</p>
            <p class="text-muted my-0">Paperback</p>

            <div class="d-flex flex-row mt-2">
              <!-- Quatinty select -->
              <div class="input-group" style="width: 90px;">
                <div class="input-group-prepend">
                  <button class="btn btn-info btn-sm">-</button>
                </div>
                <input type="text" class="form-control form-control-sm" name="quantity" value="1" id="quantity"
                  disabled>
                <div class="input-group-append">
                  <button class="btn btn-info btn-sm">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="#" class="ml-2">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Product row starts -->
        <div class="row border-top py-3">
          <!-- Product image -->
          <div class="col-md-3">
            <img src="img/product_images/product03.png" class="img-fluid" alt="product 01 image">
          </div>

          <!-- Product details -->
          <div class="col-md-9">
            <a href="#">Oppo Mobile A56</a>
            <p class="text-uppercase font-weight-bold my-0 float-right">
              <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> <span>150.00</span>
            </p>
            <p class="text-muted my-0">Sold by : Narendra Modi</p>
            <p class="text-muted my-0">Paperback</p>

            <div class="d-flex flex-row mt-2">
              <!-- Quatinty select -->
              <div class="input-group" style="width: 90px;">
                <div class="input-group-prepend">
                  <button class="btn btn-info btn-sm">-</button>
                </div>
                <input type="text" class="form-control form-control-sm" name="quantity" value="1" id="quantity"
                  disabled>
                <div class="input-group-append">
                  <button class="btn btn-info btn-sm">+</button>
                </div>
              </div>

              <!-- Delete product from list -->
              <a href="#" class="ml-2">Delete</a>
            </div>
          </div>
        </div> <!-- Product row ends -->

        <!-- Sub total row starts -->
        <div class="row border-top py-3">
          <div class="col-md-12 ">
            <p class="float-right font-weight-bold">
              Subtotal (5 items): <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> 750.00 
            </p>
          </div>
        </div>
      </div> <!-- Product Detail end -->

      <!-- Proceed to buy card start -->
      <div class="col-md-4 text-center pl-md-5 pl-0">
        <img src="img/shopping_cart_image.svg" class="img-fluid mt-md-n5 mt-0 " alt="saravex image">

        <div class="card my-3">
          <div class="card-header bg-transparent">
            <p class="text-center text-success my-0" style="font-size: 15px;">
              <!-- <i class="fas fa-info-circle text-info"></i>
              Add ₹ 17.00 of eligible items to your order to qualify for FREE Delivery. -->
              <i class="fas fa-check"></i>
              Your order is eligible for FREE Delivery. 
            </p>
          </div>
          <div class="card-body text-center" style="background-color: #f3f3f3;">
            <p class="font-weight-bold">
              Subtotal (5 items): <i class="fas fa-rupee-sign" style="font-size: 10px;"></i> 750.00 
            </p>
            <a href="select_address.html" class="btn btn-warning btn-sm btn-block">Proceed to buy</a>
          </div>
        </div>
      </div> <!-- Proceed to buy card end -->
    </div> <!-- Product list end -->


  </div> <!-- Shopping Cart Ends -->
  <!-- Footer Starts -->
  <div class="container-fluid px-0" style="background-color: #232f3e;">
    <a href="#pageTop" class="btn  btn-block mb-5" style="background-color: #37475a; color: whitesmoke;">Back to Top</a>
    
    <div class="container" >
      <div class="row text-white mb-5" >

        <div class="col-md-3">
          <h5>Get to know us</h5>
          <ul id="menu-policies" class="menu"><li id="menu-item-11070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11070"><a href="https://saravexhypermarket.com/terms-and-conditions/">Terms and Conditions</a></li>
            <li id="menu-item-11067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-11067"><a href="https://saravexhypermarket.com/privacy-policy/">Privacy Policy</a></li>
            <li id="menu-item-11068" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11068"><a href="https://saravexhypermarket.com/return-policy/">Return Policy</a></li>
            <li id="menu-item-11069" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11069"><a href="https://saravexhypermarket.com/service-and-warranty/">Service and Warranty</a></li>
            </ul>
        </div>

        <div class="col-md-3">
          <h5>Top Category</h5>
          <div class="menu-top-categories-container" style="color:wheat;"><ul id="menu-top-categories" class="menu"><li id="menu-item-11055" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11055"><a href="https://saravexhypermarket.com/product-category/grocery/">Grocery</a></li>
            <li id="menu-item-11059" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11059"><a href="https://saravexhypermarket.com/product-category/mens-fashion/">Men’s Fashion</a></li>
            <li id="menu-item-11060" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11060"><a href="https://saravexhypermarket.com/product-category/womens-fashion/">Women’s Fashion</a></li>
            <li id="menu-item-11058" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11058"><a href="https://saravexhypermarket.com/product-category/kids-fashion/">Kids Fashion</a></li>
            <li id="menu-item-11056" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11056"><a href="https://saravexhypermarket.com/product-category/health-beauty-perfumes/">Health &amp; Beauty</a></li>
            <li id="menu-item-11057" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-11057"><a href="https://saravexhypermarket.com/product-category/home-lifestyle/">Home &amp; Lifestyle</a></li>
            </ul></div>
        </div>

        <div class="col-md-3">
          <h5>Know US</h5>
          <ul id="menu-know-us" class="menu"><li id="menu-item-11061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11061"><a href="https://saravexhypermarket.com/about-us/">About Us</a></li>
            <li id="menu-item-11062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11062"><a href="https://saravexhypermarket.com/contact-us/">Contact Us</a></li>
            <li id="menu-item-11063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11063"><a href="https://saravexhypermarket.com/feedback/">Feedback</a></li>
            <li id="menu-item-11064" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11064"><a href="https://saravexhypermarket.com/faqs/">FAQs</a></li>
            <li id="menu-item-11065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11065"><a href="https://saravexhypermarket.com/news-events/">News &amp; Events</a></li>
            <li id="menu-item-11066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11066"><a href="https://saravexhypermarket.com/order-tracking/">Order Tracking</a></li>
            </ul>
        </div>

        <div class="col-md-3">
          <img src="https://saravexhypermarket.com/wp-content/uploads/2022/09/LogoMakr-5fymGM.png" height="50" width="150" alt="saravex logo white footer">
        </div>

      </div>
    </div>

    <div class="dropdown-divider mt-3"></div>

    <div class="row mt-3 mx-0 px-0">
      <div class="col-md-12 text-center">
        <img src="https://saravexhypermarket.com/wp-content/uploads/2022/09/LogoMakr-5fymGM.png" height="30" width="100" alt="saravex logo white footer">
        <br>.
      </div>
    </div>
    
    <!-- Sub footer starts -->
    <!-- Sub footer ends -->
    
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- Drawer JS File -->
  <script src="js/bootstrap-drawer.min.js"></script>
  <!-- Custom JavaScript -->
  <script src="js/custom.js"></script>
</body>

</html>