{%extends 'navbar.html'%}
 

{%block contain %}
  <div class="container mt-5 mb-5">
    <!-- URL Breadcrumb Starts -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent ml-n3">
        <li class="breadcrumb-item"><a href="your_account.html">Your Account</a></li>
        <li class="breadcrumb-item active text-danger" aria-current="page">Your Addresses</li>
      </ol>
    </nav> <!-- URL Breadcrumb Ends -->

    <h3>Your Addresses</h3>

    <!-- Address Card -->
    <div class="row">
      <div class="col-md-4 my-md-0 my-2">
        <a href="/add_new_address" class="btn bg-transparent m-0 p-0">
          <div class="card" style="width: 320px; height: 266px;border: 2px dashed #C7C7C7; ">
            <div class="card-body mt-5">
              <i class="fas fa-plus fa-3x" style="color: #C7C7C7;"></i>
              <h5 class="card-title">Add address</h5>
            </div>
          </div>
        </a>
      </div>
      {%for i in addr%}
      <div class="col-md-4 my-md-0 my-2">
        <div class="card" >
          <div class="card-header bg-transparent">
            <p class="text-muted p-0 m-0">Default: <i class="fab fa-saravex"></i></p>
          </div>
          <div class="card-body m-0 pt-1">
            <p class="font-weight-bold my-0 py-0">{{addr[i]['name']}}</p>
            <p class="my-0 py-0">{{addr[i]['house']}}</p>
            <p class="my-0 py-0">{{addr[i]['area']}}</p>
            <p class="my-0 py-0">{{addr[i]['city']}}</p>
            <p class="my-0 py-0">{{addr[i]['country']}}</p>
            <p class="my-0 py-0">Phone Number: {{addr[i]['number']}}</p>
          </div>
          <div class="card-footer bg-transparent">
            <!-- <a href="#" class="btn btn-outline-info btn-sm"><i class="fas fa-pencil-alt"></i></a> -->
            <a href="/delete_addr" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
          </div>
        </div>
      </div>
{%endfor%}
    </div>
  </div>

{%endblock%}